* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.heading {
    font-size: 10rem;
    font-weight: 900;
    background: url(https://images.unsplash.com/photo-1508138142660-302e69e74271?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8eWVsbG93JTIwbmF0dXJlfGVufDB8fDB8fHww);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}